<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- main -->
<div class="site-main">
    <h1>ADD USER</h1>
    <a href="/">All user</a>
</div><br><br>
    <!-- add user form -->
    <%- include('include/_form') %>
    <!-- add user form -->
<!-- /main -->

<!-- include footer -->
    <%- include('include/_footer') %>
<!-- /include footer -->