<tr>
    <th>1</th>
    <th>KASONGO</th>
    <th>sedidia@gmail.com</th>
    <th>male</th>
    <th>active</th>
    <th>
        <a href="update_user" class="update">update</a>
        <a href="#" class="delete">delete</a>
    </th>
</tr>